:root {
  --primary: #471f0a;
  --bg: #6b6969;
  --latar: #970c0c;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: var(--latar);
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  position: fixed;
  background-color: var(--latar);
  padding: 1rem 1rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  right: 0;
  left: 0;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

nav .logo {
  display: flex;
  color: #fff;
  font-size: 2rem;
  font-family: "Edu SA Hand", cursive;
}

nav .navbar {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.1em;
  justify-content: center;
  margin-left: auto;
  align-items: center;
}

nav .navbar a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.5s ease;
  font-family: "Ancizar Sans", sans-serif;
}

nav .navbar a:hover {
  color: var(--bg);
}

nav .navbar a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--bg);
  transform: scaleX(0);
  transition: 0.2s linear;
}

nav .navbar a:hover::after {
  transform: scaleX(0.5);
}

nav section {
  position: relative;
  padding-left: 2rem;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

nav section:hover {
  color: var(--bg);
}

/* navbar-extra */
.navbar-extra button {
  position: relative;
  margin-left: 2rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}
#menu {
  display: none;
}

/* Home */
.hero {
  text-align: center;
  padding: 15rem;
  background-image: url(image/background.jpg);
  background-size: cover;
  height: 12rem;
  position: relative;
}

.hero .gradient {
  position: absolute;
  background-image: linear-gradient(transparent 60%, var(--latar));
  inset: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Edu NSW ACT Hand Pre", cursive;
  color: #fff;
}

.hero-content p {
  font-size: 1rem;
  font-family: "Edu NSW ACT Hand Pre", cursive;
  color: #fff;
}

.btn-secondary {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  margin: 0.5rem;
  cursor: pointer;
}

.btn-secondary {
  background-color: var(--latar);
  color: #fff;
}

.btn-secondary:hover {
  color: var(--bg);
  transform: translateY(-3px);
}

/* Sejarah Toko */
.about {
  position: relative;
  max-width: 60rem;
  margin: auto;
}

.about-section {
  color: #1d1d1d;
  padding: 10rem 7% 1rem;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Nunito Sans", sans-serif;
  z-index: 1;
  position: relative;
}

.about-content {
  padding: 0.3rem 7%;
  font-size: 1rem;
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5rem;
  position: relative;
  z-index: 1;
  padding-left: 6.5rem;
}

.about-content p {
  width: 90%;
  margin-top: 0;
  margin-bottom: 0;
}

.about img {
  width: 100%;
  position: absolute;
  top: 0;
}

/* Menu MAkanan */
.makanan-card {
  margin-top: 15rem;
  scroll-margin-top: 10rem;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}

.projects-grid {
  display: grid;
  padding-inline: 4rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.projects-grid .project-card {
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background: transparent;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.89);
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
  font-family: "Noto Sans", sans-serif;
}

.projects-grid .project-card img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.project-card img .src {
  position: fixed;
  border: 10px solid rgb(255, 255, 255);
  width: 50%;
}

.project-info h2 {
  font-size: 1.5rem;
  text-align: center;
}

.project-info p {
  text-align: center;
}

/* Makanan (button) */
button {
  border-radius: 0.5rem;
  margin-top: 10px;
  margin-right: 10px;
  color: #090909;
  padding: 0.7em 1.8em;
  font-size: 12px;
  border-radius: 0, 5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.2s;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  transform: translateY(-3px);
}

/* Minuman */
.minuman-card {
  padding-top: 5rem;
}

/* Lokasi */
.location-card {
  padding-top: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.location-card .section-title {
  font-size: 2.5rem;
}
.location-card iframe {
  width: 90%;
  aspect-ratio: 16/9;
}

/* Cart */

#cart[data-count]:after {
  content: attr(data-count);
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  padding: 2px 5px;
}

.cart-panel {
  font-family: "Nunito Sans", sans-serif;
  position: fixed;
  right: 10px;
  top: 70px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 12px;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.cart-panel.hidden {
  display: none;
}

.cart-panel ul {
  list-style: none;
  padding: 0;
}

.cart-panel li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.cart-panel li button {
  background: none;
  font-size: 1.4rem;
  border: none;
  color: red;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* media Queries */

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  /* navbar */
  nav .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 20rem;
    height: 100vh;
    display: block;
    font-family: "Ancizar Sans", sans-serif;
  }

  nav .navbar.active {
    right: 0;
    padding-left: 0.5rem;
  }

  nav .navbar a {
    color: #080808;
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    margin-left: 0;
  }

  .navbar a::after {
    transform-origin: 0 0;
  }

  nav .navbar a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar-extra {
    padding-left: 18rem;
  }

  .navbar-extra button {
    color: #fff;
    font-size: 2rem;
  }

  #menu {
    display: inline-block;
  }

  /* Home */
  .hero {
    height: 25rem;
  }

  /* Menu */
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 60%;
  }

  /* Home */
  .hero {
    height: 45rem;
  }

  /* Sejarah Toko */
  .about-section {
    padding-top: 6rem;
  }

  /* Minuman */
  .section-title {
    padding-top: 2rem;
  }

  /* Menu */
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 380px) {
  about-content p {
    margin-bottom: 2rem;
  }
}
